.card {
    max-width: 300px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 11px;
    img {
        border-radius: 11px;
        transition: all 0.2s ease-in-out;
        -webkit-mask: url("../../assets/cardshadow.png") top left/contain;
    }
    position: relative;
    border: 1px solid whitesmoke;
    &__button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);

        display: none;

        &_delete {
            text-transform: lowercase;
            width: 200px;
        }
    }
    &__like {
        display: none;
        position: absolute;
        top: 5%;
        right: 5%;
        cursor: pointer;
        &_active {
            background: red;
        }
    }
}

.card:hover {
    img {
        filter: brightness(70%);
    }
    .card__button {
        display: flex;
    }
    .card__like {
        display: block;
    }

    border: 1px solid gold;
}
.card__info {
    display: flex;
    flex-direction: column;
}
.card__name {
    padding: 0 8px;
    font-size: 19px;
    color: white;
    margin-bottom: 10px;
}
.card__price {
    padding: 0 8px;
    font-size: 25px;
    color: white;
}
.cart__descr {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.card__cartcount {
    display: flex;
    color: white;
    font-size: 25px;
    margin-right: 15px;
}
.card__cartcount > * {
    margin-right: 8px;
    cursor: pointer;
}
.card__cartcount-count {
    color: aqua;
}
.card__cartcount-plus,
.card__cartcount-minus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31px;
    border: 1px solid white;
    border-radius: 100%;
}
