.favorites {
    &__title {
        margin-bottom: 50px;
    }
    &__items {
        flex-wrap: wrap;
    }
    &__items > * {
        margin-bottom: 50px;
    }
    &__empty > * {
        margin-top: 19px;
    }
}
