.content {
    height: 100%;
}
.content__items {
    width: 100%;
    padding: 105px 150px 0 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content__filters {
    margin-top: 80px;
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
