.content {
    height: 100%;
}
.content__items {
    width: 100%;
    padding: 105px 150px 55px 150px;
    display: flex;
    justify-content: space-between;
    &-clear {
        margin: 0 0 100px 300px;
    }
}
.content__items > *:not(:last-child) {
    margin-right: 25px;
}
.content__filters {
    margin-top: 80px;
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
