.sort {
    margin-left: 45px;
    &__label {
        b {
            color: white;
            margin-left: 8px;
        }
        span {
            margin-left: 5px;
            color: white;
            border-bottom: 1px dashed white;
            cursor: pointer;
        }
    }
    &__popup {
        position: absolute;
        z-index: 2;
        margin-top: 15px;
        background: #ffffff;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
        border-radius: 10px;
        overflow: hidden;
        padding: 10px 0;
        width: 160px;

        ul {
            overflow: hidden;
            li {
                padding: 12px 20px;
                cursor: pointer;
            }
        }
    }
}
