@media (max-width: 1600px) {
    .cart__buy {
        position: static;
    }
    .card {
        max-width: 250px;
    }

    .categories {
        margin-left: 0;
    }

    .content__filters {
        justify-content: space-evenly;
    }
}
@media (max-width: 1400px) {
    .categories {
        ul li {
            font-size: 20px;
        }
    }
    .items-content {
        padding: 72px 85px 55px 99px;
    }
    .item__descr h1 {
        font-size: 50px;
    }
}
@media (max-width: 1285px) {
    .categories {
        ul li {
            font-size: 18px;
        }
    }
    .items-content {
        padding: 72px 68px 55px 67px;
    }
    .pagination {
        padding-left: 0;
    }
}

@media (max-width: 1240px) {
    .categories {
        ul li {
            padding: 7px;
        }
    }
    .content__filters {
        padding: 0px 38px;
    }
    .card {
        max-width: 221px;
    }
}

@media (max-width: 1100px) {
    .items-content {
        flex-wrap: wrap;
    }
    .card {
        margin-bottom: 35px;
    }
    .search {
        margin-left: 40px;
    }
    .cart {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        &__buy {
            margin-bottom: 55px;
        }
        &__content {
            width: 100%;
        }
    }
}
@media (max-width: 1000px) {
    .categories {
        ul {
            align-items: center;
        }
        li {
            padding: 3px;
        }
        width: 100%;
        overflow: auto;
    }
    .sort__label {
        b {
            display: none;
        }
        display: flex;
        align-items: center;
    }

    .search {
        width: 35%;
        top: 7%;
    }
    ._container {
        padding: 200px 76px;
    }
}

@media (max-width: 830px) {
    .categories ul {
        justify-content: space-between;
    }

    .header__logo {
        h2 {
            font-size: 20px;
        }
        span {
            font-size: 15px;
        }
    }
    .header__logo {
        img {
            width: 49px;
        }
    }

    .header {
        padding: 36px 34px;
    }
}
@media (max-width: 626px) {
    .items-content {
        justify-content: center;
    }
    .card {
        margin-right: 0;
        max-width: 300px;
    }
    .content__filters {
        flex-direction: column-reverse;
        justify-content: center;
    }
    .sort {
        margin: 0;
        margin-bottom: 15px;
    }
    .header__settings {
        flex-direction: column;
        a img {
            margin: 0;
        }
    }

    .search {
        top: 6%;
        input {
            opacity: 0;
        }
        img {
            position: absolute;
            display: block;
        }
        margin-left: 145px;

        width: 7%;
    }
    .searchBlock {
        padding: 150px 102px;
        &__close {
            display: block;
        }
    }

    .favorites__title {
        font-size: 32px;
    }

    .cart__item-text h3,
    .cart__item-text p {
        font-size: 19px;
    }
    .cart__content {
        h1 {
            font-size: 32px;
        }
    }

    .cart__item {
        justify-content: space-evenly;
        align-items: flex-start;
        &-info {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img {
                margin: 0;
                margin-bottom: 15px;
            }
        }
        &-delete {
            width: 46px;
        }
    }
}
@media (max-width: 532px) {
    .search {
        margin-left: 87px;
    }
    .card {
        max-width: 250px;
    }
    .searchBlock {
        width: 100%;
    }
    .searchBlock__items {
        justify-content: center;
        align-items: center;
    }
    .searchBlock__items > *:not(:last-child) {
        margin-right: 0;
    }

    .searchBlock {
        padding: 150px 35px;
    }

    .cart__buy {
        margin-left: 55px;
        margin-right: 55px;
        width: 100%;
        &-btn {
            font-size: 15px;
            width: 100%;
        }
        &-text h2,
        p {
            font-size: 19px;
        }
    }
}
@media (max-width: 416px) {
    .search {
        margin-left: 55px;
    }
    .item img {
        -webkit-mask: none;
    }
    ._container {
        padding: 200px 35px;
    }
}
@media (max-width: 320px) {
    .header__logo {
        flex-direction: column;
        span {
            display: none;
        }
        &-content {
            margin: 0;
        }
    }
    .header {
        padding: 36px 8px;
        &__settings-like {
            margin-bottom: 10px;
        }
    }
    .item__descr h1 {
        font-size: 35px;
    }
    .button {
        width: 115px;
        font-size: 13px;
    }
}
