@import "fonts";
@import "variables";
@import "libs/normalize";

@import "components/all";
* {
    font-family: "Proxima Nova";
}
body {
    background: -webkit-linear-gradient(to right, #363795, #005c97);
    background: linear-gradient(to right, #363795, #005c97);
}
._container {
    padding: 200px 165px;
}

@import "media";
